* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: "Source Serif 4", serif;
    background: url(./assets/old-paper-texture-beige-craft-cardboard-vintage-canvas-surface\ 1.png);
    color: #A54328;
    font-size: 1.6rem;
    margin: 5.3rem auto;
    max-width: 393px;
    padding: 2rem;
}

#hero img {
    width: 300px;
    margin-bottom: 4.6rem;
    text-align: center;
}

#hero h1 {
    font-weight: bold;
    font-size: 2.8rem;
    margin-bottom: 4.6rem;
}

span {
    font-weight: bold;
    margin-left: -1.8rem;
}

#hero p {
    margin-bottom: 3.4rem;
}

button {
    margin-top: 2.4rem;
    padding: 1rem;
    line-height: 2.4rem;
    color: white;
    background-color: #A54328;
    border-radius: 8px;
    border: 0px;
    font-family: "Source Serif 4", serif;
}

@media (min-width: 65em) {
    body {
        display: flex;
        max-width: 1149px;
        gap: 189px;
    }

    #hero {
        width: 435px;
    }

    #hero img {
        width: 411px;
    }

    #ingredients {
        width: 525px;
    }
}